<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.xwc.tutorapp">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controllers.StudentProfile"/>
        <activity android:name=".Controllers.ClassList"/>
        <activity android:name=".Controllers.ClassAdder"/>
        <activity android:name=".Controllers.ClassMenu"/>
        <activity android:name=".Controllers.TutorialList"/>
        <activity android:name=".Controllers.StudentManager"/>
        <activity android:name=".Controllers.TutorialStudentList"/>
        <activity android:name=".Controllers.TutorialStudentEditor"/>

        <activity android:name=".Controllers.NameGameManager"/>
        <activity android:name=".Controllers.NameGameQuiz"/>
        <activity android:name=".Controllers.NameGameScore"/>

        <provider
            android:authorities="com.example.xwc.tutorapp.classProvider"
            android:name=".Database.ClassProvider" >
        </provider>

        <provider
            android:authorities="com.example.xwc.tutorapp.studentProvider"
            android:name=".Database.StudentProvider" >
        </provider>

        <provider
            android:authorities="com.example.xwc.tutorapp.tutorialProvider"
            android:name=".Database.TutorialProvider" >
        </provider>

        <provider
            android:authorities="com.example.xwc.tutorapp.studentTutorialProvider"
            android:name=".Database.StudentTutorialProvider" >
        </provider>
    </application>

</manifest>